<html>
    <head>
        <style>
            body{background-color: antiquewhite;}
            fieldset{
                width:40%;
                
            }
            /*修改display的值为block, inline和inline-block，查看网页区别*/
           mytag{
              display:inline-block;
              border:solid 1px black;
              background-color:rgb(245, 142, 142);
            }
           
        </style>

    </head>
    <body>
            <fieldset>
                <legend> display:inline-block</legend>
                <mytag> display inline-block </mytag>
                <mytag> display inline-block </mytag>
                <mytag> display inline-block </mytag>
            </fieldset>
            
    </body>
</html>