<html>
    <head>
        <style>
            body{display:table;}
            p{display:table-cell;}
            h2{display:table-caption;}
            #c1,#c2,#c3{display:table-row;}
        </style>

    </head>
    <body>
            <div id="c1">
                    <p> a</p>
                    <p>bggggppooiipo</p>
                </div>
                <div id="c2">
                        <p>c</p>
                        <p>d</p>
                    </div>
                    <div id="c3">
                            <p>e</p>
                            <p>f</p>
                        </div>

                        <!--尽管<h2>放在了此处，但声明它为table-caption后，它
                            仍会出现在表格标题处-->
                        <h2>some text </h2>
    </body>
</html>